@use "var";

.block-center {
    max-width: 732px;
}

table {
    width: 100%;
    border-spacing: var.$spacing-2;
}

th {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 400;
    color: #d8c850;
}

tr {
    column-gap: var.$spacing-2;
}

td {
    padding: var.$spacing-2;
    border-radius: var.$radius-2;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 300;
    color: #a3aad2;
    background-color: #f5f7f8;
}

.col-city {
    width: 50%;
}

.col-upload {
    width: 96px;
}

.upload-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
}
