<div class="container">
    <button mat-icon-button class="button-close" (click)="close()">
        <mat-icon>close</mat-icon>
    </button>

    <section>
        <h3>Ocorrências</h3>
        
        <div class="radio-list">
            <mat-radio-group value="NONE" (change)="applyFilter($event.value)">
                <mat-radio-button value="NONE" disableRipple>Esconder</mat-radio-button>
                <mat-radio-button value="ALL" disableRipple>Mostrar todas</mat-radio-button>
                <mat-radio-button value="FALLOW">Incidência de Tiguera</mat-radio-button>
                <mat-radio-button value="RUST">Incidência de Ferrugem Asiática</mat-radio-button>
            </mat-radio-group>
        </div>

        <button mat-button color="primary" routerLink="/occurrences">Reportar Ocorrência</button>
    </section>
</div>