<app-page-title>ZONEAMENTO AGRÍCOLA DE RISCO  CLIMÁTICO</app-page-title>

<div class="btn-menu">
    <button class="button-menu" mat-icon-button (click)="modalService.getModal('myModal').open()">
        <img style=" width: 25px;" src="assets/icons/menu.svg" alt="">
    </button>
</div>

<div class="gray-container">

    <div class="column-1">
        <ul class="vertical-menu">
            <li class="calculator-dash" (click)="viewMode ='tab1'" [ngClass]="{'active':viewMode =='tab1'}">Por favor, informe
                os campos abaixo:</li>
        </ul>
        <form action="" class="form" style="padding: 20px;background: none;">
            <div class="form-row">
                <div class="form-column" >
                    <label>Cultura</label>
                    <mat-form-field appearance="outline"  >
                        <mat-select value="PLANTING_ANTICIPATION" >
                            <mat-option value="PLANTING_ANTICIPATION">Soja</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="form-column" >
                    <label>Safra</label>
                    <mat-form-field appearance="outline"  >
                        <mat-select value="PLANTING_ANTICIPATION" >
                            <mat-option value="PLANTING_ANTICIPATION">2021/2022</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="form-column" >
                    <label>Grupo</label>
                    <mat-form-field appearance="outline"  >
                        <mat-select value="PLANTING_ANTICIPATION" >
                            <mat-option value="PLANTING_ANTICIPATION">Grupo II</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="form-column" >
                    <label>Solo</label>
                    <mat-form-field appearance="outline"  >
                        <mat-select value="PLANTING_ANTICIPATION" >
                            <mat-option value="PLANTING_ANTICIPATION">Arenoso</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="form-column" >
                    <label>UF</label>
                    <mat-form-field appearance="outline"  >
                        <mat-select value="PLANTING_ANTICIPATION" >
                            <mat-option value="PLANTING_ANTICIPATION">BA</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="form-column" >
                    <label>Manicípio</label>
                    <mat-form-field appearance="outline"  >
                        <mat-select value="PLANTING_ANTICIPATION" >
                            <mat-option value="PLANTING_ANTICIPATION">Barreiras</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
        </form>
    </div>
    <div class="column-2" [ngSwitch]="viewMode">

        <div *ngSwitchCase="'tab1'">
            <div class="gray-container">
                <div class="box-info-main">
                    <p class="box-title-main">
                        <span> <img style="width: 25px;" src="assets/icons/pin.svg"></span>
                        Barreiras</p>
                    <p class="box-title-main">
                        <span> <img style="width: 25px;" src="assets/icons/leaf.svg"></span>
                        Soja</p>
                    <div class="values-climate">
                        <div class="values-climate-porcentage">
                            <span class="values-span">01 - 20% </span>
                            <span class="values-span">01 - 20% </span>
                            <span class="values-span">01 - 20% </span>
                            <span class="values-span">01 - 20% </span>
                            <span class="values-span">01 - 20% </span>
                            <span class="values-span">01 - 20% </span>
                        </div>
                            <div>
                                <p class="box-value-main">20%</p>
                            </div>

                    </div>
                </div>

                <div class="box-info">
                    <p class="box-title">LEM</p>
                    <p class="box-value">30%</p>
                    <p class="box-span"><span> <img style="width: 12px;" src="assets/icons/leaf.svg"></span>Soja</p>
                </div>

                <div class="box-info">
                    <p class="box-title">COITÉ</p>
                    <p class="box-value">20%</p>
                    <p class="box-span"><span> <img style="width: 12px;" src="assets/icons/leaf.svg"></span>Soja</p>
                </div>

                <div class="box-info">
                    <p class="box-title">BARRA</p>
                    <p class="box-value">20%</p>
                    <p class="box-span"><span> <img style="width: 12px;" src="assets/icons/leaf.svg"></span>Soja</p>
                </div>

            </div>

            <div class="gray-container mat-elevation-z8">
                <table style="width: 100%;" mat-table [dataSource]="dataSource" class="mat-elevation-z8">

                    <!--- Note that these columns can be defined in any order.
                          The actual rendered columns are set as a property on the row definition" -->

                    <!-- Position Column -->
                    <ng-container matColumnDef="safra">
                        <th class="header-info-a" mat-header-cell *matHeaderCellDef> Safra </th>
                        <td mat-cell class="info" *matCellDef="let element"> {{element.safra}} </td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="municipio">
                        <th class="header-info-a" mat-header-cell *matHeaderCellDef>  Município </th>
                        <td mat-cell class="info" *matCellDef="let element"> {{element.municipio}} </td>
                    </ng-container>

                    <!-- Weight Column -->
                    <ng-container matColumnDef="portaria">
                        <th class="header-info-a" mat-header-cell *matHeaderCellDef> Portaria </th>
                        <td mat-cell class="info" *matCellDef="let element"> {{element.portaria}} </td>
                    </ng-container>

                    <!-- Symbol Column -->
                    <ng-container matColumnDef="cultura">
                        <th class="header-info-a" mat-header-cell *matHeaderCellDef> Cultura </th>
                        <td mat-cell class="info" *matCellDef="let element"> {{element.cultura}} </td>
                    </ng-container>

                    <!-- Symbol Column -->
                    <ng-container matColumnDef="ciclo">
                        <th class="header-info-a" mat-header-cell *matHeaderCellDef> Ciclo </th>
                        <td class="info" mat-cell *matCellDef="let element"> {{element.ciclo}} </td>
                    </ng-container>

                    <!-- Symbol Column -->
                    <ng-container matColumnDef="solo">
                        <th class="header-info-a" mat-header-cell *matHeaderCellDef> Solo </th>
                        <td class="info" mat-cell *matCellDef="let element"> {{element.solo}} </td>
                    </ng-container>

                    <!-- Symbol Column -->
                    <ng-container matColumnDef="valor1">
                        <th class="header-info-a-value" mat-header-cell *matHeaderCellDef> 01  </th>
                        <td class="resultado" mat-cell *matCellDef="let element"> {{element.valor1}} </td>
                    </ng-container>

                    <ng-container matColumnDef="valor2">
                        <th class="header-info-a-value" mat-header-cell *matHeaderCellDef> 02  </th>
                        <td class="resultado" mat-cell *matCellDef="let element"> {{element.valor2}} </td>
                    </ng-container>

                    <ng-container matColumnDef="valor3">
                        <th class="header-info-a-value" mat-header-cell *matHeaderCellDef> 03  </th>
                        <td class="resultado" mat-cell *matCellDef="let element"> {{element.valor3}} </td>
                    </ng-container>

                    <ng-container matColumnDef="valor4">
                        <th class="header-info-a-value" mat-header-cell *matHeaderCellDef> 04  </th>
                        <td class="resultado" mat-cell *matCellDef="let element"> {{element.valor4}} </td>
                    </ng-container>

                    <ng-container matColumnDef="valor5">
                        <th class="header-info-a-value" mat-header-cell *matHeaderCellDef> 05  </th>
                        <td class="resultado" mat-cell *matCellDef="let element"> {{element.valor5}} </td>
                    </ng-container>

                    <ng-container matColumnDef="valor6">
                        <th class="header-info-a-value" mat-header-cell *matHeaderCellDef> 06  </th>
                        <td class="resultado" mat-cell *matCellDef="let element"> {{element.valor6}} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </div>
        </div>

        <div *ngSwitchCase="'tab2'">
            <div class="gray-container">
                <div class="box-info">
                    <p class="box-title">Linha de base</p>
                    <p class="box-value">237590.13</p>
                    <p class="box-span">tCO₂e</p>
                </div>

                <div class="box-info">
                    <p class="box-title">Por área</p>
                    <p class="box-value">86.64</p>
                    <p class="box-span">tCO₂e</p>
                </div>

                <div class="box-info">
                    <p class="box-title">Por saca (soja)</p>
                    <p class="box-value">1.33</p>
                    <p class="box-span">tCO₂e</p>
                </div>

                <div class="box-info">
                    <p class="box-title">--</p>
                    <p class="box-value-orange">2034,78</p>
                    <p class="box-span">tCO₂e</p>
                </div>

                <div class="box-info">
                    <p class="box-title">--</p>
                    <p class="box-value-red">2034,78</p>
                    <p class="box-span">tCO₂e</p>
                </div>

            </div>

            <div class="gray-container">
                <table style="width: 100%;" mat-table [dataSource]="dataSource" class="mat-elevation-z8">

                    <!--- Note that these columns can be defined in any order.
                          The actual rendered columns are set as a property on the row definition" -->

                    <!-- Position Column -->
                    <ng-container matColumnDef="position">
                        <th class="header-info" mat-header-cell *matHeaderCellDef> Indicador </th>
                        <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="name">
                        <th class="header-info-a" mat-header-cell *matHeaderCellDef> Info A </th>
                        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                    </ng-container>

                    <!-- Weight Column -->
                    <ng-container matColumnDef="weight">
                        <th class="header-info-a" mat-header-cell *matHeaderCellDef> Info B </th>
                        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                    </ng-container>

                    <!-- Symbol Column -->
                    <ng-container matColumnDef="symbol">
                        <th class="header-info-a" mat-header-cell *matHeaderCellDef> Info C </th>
                        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                    </ng-container>

                    <!-- Symbol Column -->
                    <ng-container matColumnDef="symbol2">
                        <th class="header-info-a" mat-header-cell *matHeaderCellDef> Info D </th>
                        <td class="info-d" mat-cell *matCellDef="let element"> {{element.symbol}} </td>
                    </ng-container>

                    <!-- Symbol Column -->
                    <ng-container matColumnDef="symbol3">
                        <th class="header-info-a" mat-header-cell *matHeaderCellDef> Info E </th>
                        <td class="info-e" mat-cell *matCellDef="let element"> {{element.symbol}} </td>
                    </ng-container>

                    <!-- Symbol Column -->
                    <ng-container matColumnDef="symbol4">
                        <th class="header-info-a" mat-header-cell *matHeaderCellDef> Resultado  </th>
                        <td class="resultado" mat-cell *matCellDef="let element"> {{element.name}} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </div>
        </div>

        <div *ngSwitchCase="'tab3'">
            <div class="gray-container">
                <div class="box-info">
                    <p class="box-title">Linha de base</p>
                    <p class="box-value">-4553.13</p>
                    <p class="box-span">tCO₂e</p>
                </div>

                <div class="box-info">
                    <p class="box-title">Por área</p>
                    <p class="box-value">86.64</p>
                    <p class="box-span">tCO₂e</p>
                </div>

                <div class="box-info">
                    <p class="box-title">Por saca (soja)</p>
                    <p class="box-value">1.33</p>
                    <p class="box-span">tCO₂e</p>
                </div>

                <div class="box-info">
                    <p class="box-title">--</p>
                    <p class="box-value-orange">2034,78</p>
                    <p class="box-span">tCO₂e</p>
                </div>

                <div class="box-info">
                    <p class="box-title">--</p>
                    <p class="box-value-red">2034,78</p>
                    <p class="box-span">tCO₂e</p>
                </div>

            </div>

            <div class="gray-container">
                <table style="width: 100%;" mat-table [dataSource]="dataSource" class="mat-elevation-z8">

                    <!--- Note that these columns can be defined in any order.
                          The actual rendered columns are set as a property on the row definition" -->

                    <!-- Position Column -->
                    <ng-container matColumnDef="position">
                        <th class="header-info" mat-header-cell *matHeaderCellDef> Indicador </th>
                        <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="name">
                        <th class="header-info-a" mat-header-cell *matHeaderCellDef> Info A </th>
                        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                    </ng-container>

                    <!-- Weight Column -->
                    <ng-container matColumnDef="weight">
                        <th class="header-info-a" mat-header-cell *matHeaderCellDef> Info B </th>
                        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                    </ng-container>

                    <!-- Symbol Column -->
                    <ng-container matColumnDef="symbol">
                        <th class="header-info-a" mat-header-cell *matHeaderCellDef> Info C </th>
                        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                    </ng-container>

                    <!-- Symbol Column -->
                    <ng-container matColumnDef="symbol2">
                        <th class="header-info-a" mat-header-cell *matHeaderCellDef> Info D </th>
                        <td class="info-d" mat-cell *matCellDef="let element"> {{element.symbol}} </td>
                    </ng-container>

                    <!-- Symbol Column -->
                    <ng-container matColumnDef="symbol3">
                        <th class="header-info-a" mat-header-cell *matHeaderCellDef> Info E </th>
                        <td class="info-e" mat-cell *matCellDef="let element"> {{element.symbol}} </td>
                    </ng-container>

                    <!-- Symbol Column -->
                    <ng-container matColumnDef="symbol4">
                        <th class="header-info-a" mat-header-cell *matHeaderCellDef> Resultado  </th>
                        <td class="resultado" mat-cell *matCellDef="let element"> {{element.name}} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </div>
        </div>



    </div>
</div>

<ngx-smart-modal #myModal identifier="myModal" [customClass]="'custom-modal'" style="background: none">
    <ul class="vertical-menu">
        <li class="calculator-dash" (click)="viewMode ='tab1'" [ngClass]="{'active':viewMode =='tab1'}">Balanço de GEE</li>
        <li class="calculator-dash" (click)="viewMode ='tab2'" [ngClass]="{'active':viewMode =='tab2'}">Emissões de GEE</li>
        <li class="calculator-dash" (click)="viewMode ='tab3'" [ngClass]="{'active':viewMode =='tab3'}">Remoções de GEE</li>
        <div style="padding-top: 30px;"> </div>
        <li style="font-size: 12px;" class="calculator-dash" (click)="viewMode ='tab4'" [ngClass]="{'active':viewMode =='tab4'}">Emissões de Escopo 1</li>
        <li style="font-size: 12px;" class="calculator-dash" (click)="viewMode ='tab5'" [ngClass]="{'active':viewMode =='tab5'}">Emissões de Escopo 2</li>
        <li style="font-size: 12px;" class="calculator-dash" (click)="viewMode ='tab6'" [ngClass]="{'active':viewMode =='tab6'}">Emissões de Escopo 3</li>
    </ul>

</ngx-smart-modal>
