<div class="container px-5 py-5">
    <div class="panel px-5 pt-4 pb-5">
        <h2 class="title text-center mt-0 mb-4">Boas Práticas Agrícolas</h2>
    
        <div class="buttons-wrapper">
            <button mat-button (click)="onPracticeChange('PHYTOSANITARY')">
                <img src="assets/icons/practices/phytosanitary.svg" alt=" Práticas Fitossanitárias">
                <div class="label">Fitossanitárias</div>
            </button>
    
            <button mat-button (click)="onPracticeChange('SUSTAINABLE')">
                <img src="assets/icons/practices/crop-rotation.svg" alt="Práticas Sustentáveis">
                <div class="label">Sustentáveis</div>
            </button>
    
            <button mat-button (click)="onPracticeChange('CORRECTIVE_QUALITY')">
                <img src="assets/icons/practices/corrective.svg" alt="Práticas Corretivas">
                <div class="label">Corretivas</div>
            </button>
    
            <button mat-button (click)="onPracticeChange('CROP_ROTATION')">
                <img src="assets/icons/practices/crop-rotation.svg" alt="Práticas de Rotação de Culturas">
                <div class="label">Rotação de Culturas</div>
            </button>
    
            <button mat-button (click)="onPracticeChange('WATER_RUNOFF_CONTAINMENT')">
                <img src="assets/icons/practices/microdam-containment.svg" alt="Práticas de Contenção por Microbarragens">
                <div class="label">Contenção por Microbarragens</div>
            </button>
    
            <button mat-button (click)="onPracticeChange('CONTROLLED_TRAFFIC_SYSTEM')">
                <img src="assets/icons/practices/controlled-traffic.svg" alt="Práticas de Tráfego Controlado">
                <div class="label">Tráfego Controlado</div>
            </button>
    
            <button mat-button (click)="onPracticeChange('IRRIGATION_USE_EFFICIENCY')">
                <img src="assets/icons/practices/irrigation.svg" alt="Práticas de Uso da Irrigação">
                <div class="label">Uso da Irrigação</div>
            </button>
    
            <button mat-button (click)="onPracticeChange('SOIL_RECHARGE_AND_MOISTURE')">
                <img src="assets/icons/practices/umidity.svg" alt="Práticas Umidade do Solo">
                <div class="label">Umidade do Solo</div>
            </button>
    
            <button mat-button (click)="onPracticeChange('SOIL_TEMPERATURE')">
                <img src="assets/icons/practices/temp.svg" alt="Práticas Temperatura do Solo">
                <div class="label">Temperatura do Solo</div>
            </button>
        </div>
    </div>
</div>
