<div class="container">
    <app-page-title class="title">Ocorrências de Tiguera e ferrugem</app-page-title>

    <section class="illustration">
        <div class="left-text">Atente-se ao período de vazio sanitário</div>
        <!-- <img class="tiguera" src="assets/img/general/tiguera.png"> -->
    </section>

    <section class="content">
        <div class="inner-content box-margin">
            <div class="icon-container">
                <div class="white-bar"></div>

                <img class="occurrences-icon" src="assets/img/general/soybean-occurrences-icon.png" alt="">

            </div>

            <div class="text-content">
                Informe sobre a incidência de <span style="font-weight: bold">tiguera</span> em uma propriedade.

            </div>
        </div>

        <div class="inner-content box-margin">
            <div class="icon-container">
                <div class="white-bar"></div>

                <img class="occurrences-icon" src="assets/img/general/leaf-occurrences-icon.png" alt="">

            </div>

            <div class="text-content">
                Informe sobre a incidência de <span style="font-weight: bold">ferrugem</span> em sua plantação.


            </div>
        </div>

        <button mat-flat-button color="primary" class="margin-top-large" [routerLink]="'./report'">
            Reportar
        </button>
    </section>
</div>