<h2 class="title mt-5">Recuperar senha</h2>

<form [formGroup]="form" class="form block-center pb-4">

    <label for="email">E-mail</label>
    <mat-form-field appearance="outline">
        <input formControlName="email" matInput type="email">

        <div matSuffix class="icon-wrapper">
            <mat-icon class="material-icons-outlined">
                email
            </mat-icon>
        </div>

        <mat-hint>Digite seu email para receber um link de recuperação da sua senha</mat-hint>

        <mat-error *ngIf="getError('email')?.required">
            Campo obrigatório
        </mat-error>

        <mat-error *ngIf="getError('email')?.email">
            Endereço de e-mail inválido
        </mat-error>
    </mat-form-field>


    <div class="form-footer mt-4">
        <button
            mat-flat-button
            color="primary"
            class="button-green"
            (click)="submit()">
            
            <span>Recuperar</span>
            <mat-icon class="ml-2">east</mat-icon>
        </button>
            
    </div>
</form>
