<h2 class="title mt-5">Alterar Senha</h2>

<form [formGroup]="form" class="form block-center pb-4">
    <!-- Just for browser accessibility -->
    <input name="username" type="text" autocomplete="username" hidden>

    <label for="newPassword">Nova senha</label>
    <mat-form-field appearance="outline">
        <input
            matInput
            formControlName="newPassword"
            autocomplete="new-password"
            [type]="isPasswordHidden ? 'password' : 'text'">

        <button
            mat-icon-button
            matSuffix
            class="material-icons-outlined"
            (click)="isPasswordHidden = !isPasswordHidden">

            <mat-icon class="material-icons-outlined">
                {{ isPasswordHidden ? 'visibility' : 'visibility_off' }}
            </mat-icon>
        </button>

        <mat-error *ngIf="getError('newPassword')?.required">
            Campo obrigatório
        </mat-error>

        <mat-error *ngIf="getError('newPassword')?.minlength">
            Senha deve ter no mínimo {{ getError('newPassword').minlength.requiredLength }} caracteres
        </mat-error>
    </mat-form-field>

    <label for="confirmNewPassword">Repetir nova senha</label>
    <mat-form-field appearance="outline">
        <input
            matInput
            formControlName="confirmNewPassword"
            autocomplete="new-password"
            [type]="isPasswordHidden ? 'password' : 'text'">

        <button
            mat-icon-button
            matSuffix
            class="material-icons-outlined"
            (click)="isPasswordHidden = !isPasswordHidden">

            <mat-icon class="material-icons-outlined">
                {{ isPasswordHidden ? 'visibility' : 'visibility_off' }}
            </mat-icon>
        </button>

        <mat-error *ngIf="getError('confirmNewPassword')?.required">
            Campo obrigatório
        </mat-error>

        <mat-error *ngIf="getError('confirmNewPassword')?.notEquals">
            As senhas não correspondem
        </mat-error>
    </mat-form-field>

    <div class="form-footer mt-4">
        <button
            mat-flat-button
            color="primary"
            class="button-save"
            (click)="submit()">
            
            <span>Salvar</span>
            <mat-icon class="ml-2">east</mat-icon>
        </button>
    </div>
</form>
