@import "https://fonts.googleapis.com/css?family=Rubik:400,500,700,900&cache=clear";

.header {
    display: flex;
    align-items: center;
}

button[mat-button] img {
    height: 22px;
    width: 22px;
    padding: 15px 6px;
}

.logo {
    margin-left: 8px;
    flex-grow: 1;
    height: 22px;
    width: 22px;
    padding: 15px 6px;
}

button[mat-icon-button] {
    margin-right: 6px;
}

.dateBorder {
    width: 246px;
    height: 415px;
    background-color: #e4ebee;
    border-radius: 15px;
    position: relative;
}

.dia {
    width: 100%;
    height: 10.9%;
    display: inline-block;
    margin: 2px 0 -2px 25px;
    vertical-align: auto;
    font-size: 36px;
    text-align: left;
    color: #939696;
}

.bar5px {
    width: 100%;
    height: 5px;
}

.date {
    float: right;
    margin: 15px 50px 0 0;
    font-family: Rubik;
    font-size: 21.5px;
    text-align: left;
    color: #acadb2;
}

.cityBorder {
    width: auto;
    margin-top: 0%;
    font-size: 42px;
    text-align: left;
    color: #a3aad2;
}

.stateBorder {
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #acadb2;
}

.divi {
    display: inline-block;
}

.divMain {
    width: 100%;
    height: 90%;
}

.close {
    position: absolute;
    top: 24px;
    right: 24px;
}

.container {
    display: flex;
    width: 2200px;
    height: 100%;
}

@media only screen and(min-width:2201px) {
    .container {
        width: 100%;
    }
}

.img-container {
    height: 120px;
    width: 100%;
    margin: 45px 0 0 0;
}

@media only screen and(max-width:450px) {
    .forecast-box {
        padding: 0 1% 0 1% !important;
    }
    .card {
        margin-left: auto !important;
        margin-right: auto !important;
        height: 65% !important;
        min-height: 385px !important;
    }
    .card-temp {
        margin-top: 0% !important;
        //margin-bottom: 7%!important;
        font-size: 35px !important;
    }
    .margin-card-temp-min {
        margin: -10px 0 0% calc(50% - 64.5px) !important;
    }
    .margin-card-temp-max {
        margin: 0% 0 8% calc(50% - 64.5px) !important;
    }
    .white-bar {
        margin-top: 10px !important;
        margin-bottom: 10px !important;
    }
    .img-weather {
        flex-grow: 1 !important;
        height: 80% !important;
        width: auto !important;
    }
    .img-container {
        height: 90px;
    }
}

.days-box {
    box-sizing: border-box;
    width: 246px;
    height: 510px;
    flex-grow: 1;
    padding: 0px;
    vertical-align: middle;
    margin: auto 0 auto 4%;
    display: flex;
    flex-direction: column;
}

.forecast-box {
    box-sizing: border-box;
    padding: 0 3% 0px 3%;
    height: 100%;
    flex-grow: 4;
    justify-content: space-between;
}

.card {
    //margin-right: 2%!important;
    padding-top: 40px;
    border-radius: 16px;
    width: 22%;
    min-width: 232px;
    max-width: 270px;
    //height: 590px;
    height: 80%;
    min-height: 490px;
    max-height: 590px;
    border-radius: 15px;
    vertical-align: middle;
    margin: auto 1.25% auto 1.25%;
    display: flex;
    overflow: hidden;
    flex-direction: column;
}

.card .header {
    height: 64px;
}

@media only screen and (max-height: 900px) {
    .header {
        margin-top: -40px !important;
    }
}

.card h5 {
    width: 100%;
    height: fit-content;
    font-family: Rubik;
    font-size: 42px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #a3aad2;
}

.card h4 {
    margin: -10px auto 0 auto;
    font-family: Rubik;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #acadb2;
}

.mono {
    //font-family: 'Azeret Mono', monospace;
    //font-family: 'Roboto Mono', monospace;
    //font-family: 'Titillium Web', sans-serif;
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
}

.card .body {
    flex-grow: 1;
}

.blue {
    background-image: linear-gradient(to top, #0093c7, rgba(0, 147, 199, 0));
}

.orange {
    background-image: linear-gradient(to top, #ef980c, rgba(239, 152, 12, 0));
}

.grey {
    background-image: linear-gradient(to top, #969a98, rgba(150, 154, 152, 0));
}

.img-weather {
    margin: 0 0 0 0;
}

.card-temp {
    width: fit-content;
    font-family: Rubik;
    font-size: 38px;
    color: #fff;
    //margin-left: calc(50% - 64.5px)!important;
}

.margin-card-temp-min {
    margin: 10% 0 0% calc(50% - 64.5px);
}

.margin-card-temp-max {
    margin: 0% 0 25% calc(50% - 64.5px);
}

@media only screen and (max-height: 850px) {
    /*.card-temp{
        margin: 8% 0 20% 0;
    }
    */
    .margin-card-temp-min {
        margin: 5% 0 0% calc(50% - 64.5px);
    }
    .margin-card-temp-max {
        margin: 0% 0 15% calc(50% - 64.5px);
    }
}

.center {
    text-align: center;
}

.icon-weather {
    float: left;
    margin: 0 0 0 10px;
}

.humidity-icon {
    flex-grow: 1;
    width: auto;
    height: 25px;
}

.week-day-day-box {
    width: fit-content;
    display: inline-block;
    font-size: 36px;
    font-family: Rubik;
    color: #939696;
    margin: 6px 0 0 22px;
}

.date-day-box {
    float: right;
    font-size: 20px;
    color: #acadb2;
    margin: 20px 19px 10px;
}

.white-bar-day-box {
    height: 5px;
    width: 100%;
    background-color: #fff;
}

.white-bar {
    height: 1px;
    width: 100%;
    background-color: #fff;
    margin: 14px 0 14px 0;
    float: left;
}

.card-text {
    font-family: Rubik;
    font-size: 15px;
    color: #fff;
    margin: 10px 10px 0 0;
    float: right;
}

.card-text-percentage {
    margin-right: 10px !important;
}

.arrow {
    flex-grow: 1;
    width: auto;
    height: 12px;
}

.empty{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 400;
    color: #939696;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}