<div class="container">
    <button mat-icon-button class="button-close" (click)="close()">
        <mat-icon>close</mat-icon>
    </button>

    <section>
        <h3 class="title">Unidades de Conservação</h3>

        <mat-progress-bar
            mode="indeterminate"
            [style.visibility]="(isConservationLoading$ | async) ? 'visible' : 'hidden'">
        </mat-progress-bar>

        <div class="checkbox-list">
            <mat-checkbox
                class="checkbox-list__item"
                [(ngModel)]="isConservationEnabled"
                (ngModelChange)="onConservationCheckChanged()">
                Exibir/ocultar
            </mat-checkbox>
        </div>

        <div class="form pt-0">
            <label>Domínio</label>
            <mat-form-field appearance="outline">
                <mat-select
                    placeholder="Selecione o domínio"
                    [(value)]="conservationQuery.sphere"
                    [disabled]="!isConservationEnabled"
                    (valueChange)="onConservationValuesChanged()">

                    <mat-option value="federal">Federal</mat-option>
                    <mat-option value="estadual">Estadual</mat-option>
                    <mat-option value="municipal">Municipal</mat-option>
                </mat-select>
            </mat-form-field>

            <label>Categoria</label>
            <mat-form-field appearance="outline">
                <mat-select
                    placeholder="Selecione a categoria"
                    [(value)]="conservationQuery.category"
                    [disabled]="!isConservationEnabled"
                    (valueChange)="onConservationValuesChanged()">

                    <mat-option value="Estao Ecolgica">Estação Ecológica</mat-option>
                    <mat-option value="Floresta">Floresta</mat-option>
                    <mat-option value="Monumento Natural">Monumento Natural</mat-option>
                    <mat-option value="Parque">Parque</mat-option>
                    <mat-option value="Refgio de Vida Silvestre">Refúgio de Vida Silvestre</mat-option>
                    <mat-option value="Reserva Biolgica">Reserva Biológica</mat-option>
                    <mat-option value="Reserva Extrativista">Reserva Extrativista</mat-option>
                    <mat-option value="Reserva Particular do Patrimnio Natural">Reserva Particular do Patrimônio Natural</mat-option>
                    <mat-option value="Reserva de Desenvolvimento Sustentvel">Reserva de Desenvolvimento Sustentável</mat-option>
                    <mat-option value="rea de Proteo Ambiental">Área de Proteção Ambiental</mat-option>
                    <mat-option value="Reserva de Desenvolvimento Sustentvel">Reserva de Desenvolvimento Sustentável</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </section>

    <section>
        <h3 class="title">Outros</h3>

        <mat-progress-bar
            mode="indeterminate"
            [style.visibility]="(isOtherLoading$ | async) ? 'visible' : 'hidden'">
        </mat-progress-bar>

        <div class="checkbox-list">
            <mat-checkbox class="checkbox-list__item"
                [checked]="isGeoSitesEnabled"
                (change)="onIndigenousLandChanged($event)">
                Terras Indígenas
            </mat-checkbox>

            <mat-checkbox class="checkbox-list__item"
                [checked]="isGeoSitesEnabled"
                (change)="onGeoSitesChanged($event)">
                Sítios Geológicos
            </mat-checkbox>

            <mat-checkbox class="checkbox-list__item"
                [checked]="isGeoParksEnabled"
                (change)="onGeoParksChanged($event)">
                Geoparques
            </mat-checkbox>

            <mat-checkbox class="checkbox-list__item" 
                [checked]="isCorridorsEnabled"
                (change)="onCorridorsChanged($event)">
                Corredores Ecológicos
            </mat-checkbox>

            <mat-checkbox class="checkbox-list__item" 
                [checked]="isAtlanticForestEnabled"
                (change)="onAtlanticForestChanged($event)">
                Mata Atlântica
            </mat-checkbox>

            <mat-checkbox class="checkbox-list__item" 
                [checked]="isBiomeEnabled"
                (change)="onBiomeChanged($event)">
                Biomas Brasileiros
            </mat-checkbox>

            <mat-checkbox class="checkbox-list__item" 
                [checked]="isCerradoEnabled"
                (change)="onCerradoChanged($event)">
                Cerrado Stricto Sensu
            </mat-checkbox>

            <mat-checkbox class="checkbox-list__item" 
                [checked]="isMatopibaEnabled"
                (change)="onMatopibaChanged($event)">
                Matopiba
            </mat-checkbox>

            <mat-checkbox class="checkbox-list__item" 
                [checked]="isVegetationEnabled"
                (change)="onVegetationChanged($event)">
                Vegetação
            </mat-checkbox>
        </div>
    </section>
</div>
