<div class="container">
    <button mat-icon-button class="button-close" (click)="close()">
        <mat-icon>close</mat-icon>
    </button>

    <section>
        <h3>Risco de Fogo</h3>

        <mat-progress-bar
            mode="indeterminate"
            [style.visibility]="(isLoading$ | async) ? 'visible' : 'hidden'">
        </mat-progress-bar>

        <div class="checkbox-item">
            <mat-checkbox
                [checked]="isEnabled$ | async"
                (change)="setEnabled($event.checked)">
                Exibir/ocultar
            </mat-checkbox>
        </div>
    </section>
</div>