<h3 class="title">Dados Observados - {{station.city}}</h3>

<mat-divider></mat-divider>

<mat-dialog-content>
    <div class="content-header">
        <div class="header-info">
            <div class="header-info-item">
                <span>Latitude:</span>
                <span class="ml-2 mr-4">
                    <strong>{{ station.geometry.coordinates[1] | number: '1.3-3' }}º</strong>
                </span>
            </div>

            <div class="header-info-item">
                <span>Longitude:</span>
                <span class="ml-2 mr-4">
                    <strong>{{ station.geometry.coordinates[0] | number: '1.3-3' }}º</strong>
                </span>
            </div>

            <div class="header-info-item">
                <span>Altitude:</span>
                <span class="ml-2">
                    <strong>{{ station.altitude | number: '1.3-3' }}m</strong>
                </span>
            </div>
        </div>

        <div class="form">
            <label class="mr-2">Data selecionada:</label>

            <mat-form-field appearance="outline">
                <input
                    matInput
                    readonly
                    [matDatepicker]="datePicker"
                    [value]="selectedDate$ | async"
                    (dateChange)="onDateChanged($event.value)">
    
                <mat-datepicker-toggle matSuffix [for]="datePicker">
                    <mat-icon matDatepickerToggleIcon class="material-icons-outlined">
                        date_range
                    </mat-icon>
                </mat-datepicker-toggle>
    
                <mat-datepicker #datePicker></mat-datepicker>
            </mat-form-field>
        </div>
    </div>

    <ng-container *ngIf="(isChartsVisible$ | async); else empty">
        <section>
            <h4 class="section-title">Temperatura (ºC)</h4>
    
            <div class="chart-wrapper">
                <canvas baseChart
                    [data]="temperatures$ | async"
                    [options]="chartOptions"
                    type="line">
                </canvas>
            </div>
        </section>
    
        <section class="mt-5">
            <h4 class="section-title">Umidade Relativa (%)</h4>
    
            <div class="chart-wrapper">
                <canvas baseChart
                    [data]="humidity$ | async"
                    [options]="chartOptions"
                    type="line">
                </canvas>
            </div>
        </section>
    
        <section class="mt-5">
            <h4 class="section-title">Presssão Atmosférica (mB)</h4>
    
            <div class="chart-wrapper">
                <canvas baseChart
                    [data]="pressure$ | async"
                    [options]="chartOptions"
                    type="line">
                </canvas>
            </div>
        </section>
    
        <section class="mt-5">
            <h4 class="section-title">Preciptação Total (mm)</h4>
    
            <div class="chart-wrapper">
                <canvas baseChart
                    [data]="totalRainfall$ | async"
                    [options]="chartOptions"
                    type="line">
                </canvas>
            </div>
        </section>
    
        <section class="mt-5">
            <h4 class="section-title">Radiação Global (Kj/m²)</h4>
    
            <div class="chart-wrapper">
                <canvas baseChart
                    [data]="globalRadiation$ | async"
                    [options]="chartOptions"
                    type="line">
                </canvas>
            </div>
        </section>

        <section class="mt-5">
            <h4 class="section-title">Ventos</h4>
    
            <div class="chart-wrapper">
                <canvas baseChart
                    [data]="wind$ | async"
                    [options]="chartOptions"
                    type="line">
                </canvas>
            </div>
        </section>
    </ng-container>

    <ng-template #empty>
        <h4 class="section-title py-5">
            Ainda não há dados disponíveis para a data selecionada
        </h4>
    </ng-template>
</mat-dialog-content>

<button mat-icon-button class="button-close" matDialogClose>
    <mat-icon>close</mat-icon>
</button>